*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* html{
   
} */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(usgs-hoS3dzgpHzw-unsplash.jpg) no-repeat center/cover  fixed; 
    font-family: 'Poiret One', cursive;
    font-weight:900 ;
    
    background-size: cover ;

}
.heading{
    color: aliceblue;
    font-size:3rem ;
}
.clock{
    display: flex;
    position: relative;
    
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background: #2c63888a;
    margin: 0.3em;
    width:12rem;
    height: 15rem;
     
   
    
    
}
.number{
    text-align: center;
    
    font-size: 5.9rem;
    padding:0.2em 0.2em ;
    margin-top: 0.2em;
    
    
    
    
}
.text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #90283aea;
    font-size:2rem;
    padding:0.2em 0 ;
    bottom: 0px;
    width: inherit;
   
    
}
.box_am{
    position: absolute;
    bottom:2.5rem;
    right: -0.1em;;

}

.ampm{
    color: aliceblue;
    
    position: absolute;
    font-size:2.45rem;
  
}
